:root {
  background-color: rgb(230, 230, 230);
  margin: 0;
  padding: 0;
}

.parent-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.input-form {
  border: 2px solid midnightblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.form input {
  background-color: rgb(216, 216, 216);
  border-radius: 8px;
  border: none;
  width: 200px;
  height: 20px;
  padding: 5px;
  margin: 2px;
}

.form textarea {
  background-color: rgb(216, 216, 216);
  border-radius: 8px;
  border: none;
  width: 85%;
  height: 100px;
  padding: 5px;
  margin: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.form {
  padding: 12px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 12px;
  margin: 5px;
  position: relative;
}

.add-btn {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid black;
  width: 125px;
  height: 25px;
  padding: 5px;
  margin: 2px;
}

.btn {
 height: 2px;
 background-color: inherit;
 border: none;
 position: absolute;
 top: 10px;
 right: 5px;
}

.eye {
  height: 20px;
  width: 20px;
}

.inactive {
  height: 23px;
  overflow: hidden;
}

.school-name {
  display: flex;
  margin-top: -5px;
  height: 45px;
}

.hidden {
  display: none;
}

.company-name {
  display: flex;
  height: 35px;
}

.date-input input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* #description-input {
  height: 100px;
  width: 80%;
} */

.description-form {
  display: flex;
  flex-direction: column;
}

/* CV Preview styling */

.cv-preview {
  /* display: none; */
  display: grid;
  background-color: lavender;
  border: 2px solid midnightblue;
  grid-template-columns: 1.25fr 2fr;
  grid-template-rows: 1fr 4fr;
}

/* Header styling */
.preview-header {
  grid-column: span 2;
  background-color: rgb(0, 0, 59);
  color: white;
  padding: 1%;
  /* font-size: 1.25em; */
}

.header-name {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.header-position {
  font-size: 20px;
  font-style: oblique;
}

/* Sidebar styling */
.preview-sidebar {
  box-sizing: border-box;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  grid-column: span;
  padding: 8px;
  gap: 50px;
}

h2 {
  margin: 5px;
}

.sidebar-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.sidebar-contact span {
  display: flex;
  align-items: center;
}

svg {
  width: 12px;
  height: 12px;
  padding-left: 5px;
}


.sidebar-education {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

/* Main Preview styling*/
.preview-main {
  background-color: white;
  padding: 8px;
}
/* 
.preview-main h2 {
  margin: 5px;
} */
 
.previous-job {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 17px;
  color: rgb(30, 30, 30);
}

.previous-position {
  font-size: 20px;
  color: black;
}

.previous-job-description {
  list-style-type: disc;
  padding-left: 15px;
  margin-top: 5px;
}

.bullet-point {
  display: list-item;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
}

